{%extends "base.html"%}
{%block content%}
<section class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div id="thu_head_caro" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{{url_for('static', filename='img/open1.jpg')}}" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{url_for('static', filename='img/open2.jpg')}}" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{url_for('static', filename='img/open3.jpg')}}" class="d-block w-100">
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center position-absolute top-50 start-50 translate-middle">
            <h1 class="thu-bold" style="color:var(--yamabuki);">
                EDIT HEADER DISINI
            </h1>
        </div>
    </div>
</section>
<h3 class="thu-big thu-sect mx-5 mb-3 mt-5 py-1 px-1" align="center">Klien Kami</h3>
<section class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div id="thu_cust_caro" class="carousel slide d-flex align-items-center" data-bs-ride="carousel" style="height:9em">
        <div class="carousel-inner d-flex align-items-center">
            <div class="carousel-item active" align="center">
                <img src="{{url_for('static', filename='img/cust1.png')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust2.png')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust3.png')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust4.png')}}" class="img-fluid img-cust mx-5 my-2">
            </div>
            <div class="carousel-item" align="center">
                <img src="{{url_for('static', filename='img/cust5.png')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust6.svg')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust7.svg')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust8.svg')}}" class="img-fluid img-cust mx-5 my-2">
            </div>
            <div class="carousel-item" align="center">
                <img src="{{url_for('static', filename='img/cust9.svg')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust10.svg')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust11.svg')}}" class="img-fluid img-cust mx-5 my-2">
                <img src="{{url_for('static', filename='img/cust12.svg')}}" class="img-fluid img-cust mx-5 my-2">
            </div>
        </div>
    </div>
</section>
<h3 class="thu-big mx-5 mb-3 mt-5 py-1 px-1" align="center">Siapa Kami?</h3>
<section class="row py-3 px-3">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center py-3 px-5">
        <p>
            PT. Indah Logistik adalah perusahaan yang bergerak dalam bidang usaha jasa angkutan barang dengan tujuan
            seluruh Provinsi dan Kabupaten yang ada di Indonesia, serta melayani pengiriman barang dan dokumen ke luar
            negeri. Saat ini kami menguasai hampir 100% daerah tujuan pengiriman barang di Indonesia, dari Sabang sampai
            Merauke. Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
        </p>
    </div>
    <div class="col-sm-12 col-md-6 d-flex justify-content-center py-3 px-5">
        <img src="{{url_for('static',filename='img/about.jpeg')}}"
             style="max-width:75%; height:auto; border-radius:10%;"
             class="img-fluid img-thumbnail">
    </div>
</section>
<h3 class="thu-big mx-5 mb-3 mt-5 py-1 px-1" align="center">Mengapa Trismalindo?</h3>
<section class="text-center my-5">
    <div class="row gx-lg-5 my-5">
        <div class="col-md-4 col-xs-12 my-5">
            <div class="card thu-shadow h-100">
                <div class="d-flex justify-content-center" style="margin-top:-3.5em">
                    <div class="p-4 rounded-circle shadow-lg d-inline-block"
                         style="background:var(--yamabuki); color:var(--bay-o-many)">
                        <i class="fas fa-headset fa-4x"></i>
                    </div>
                </div>
                <div class="card-body"><h3 class="card-title">Support 24/7</h3>
                    <p class="card-text">
                        Laudantium totam quas cumque pariatur at doloremque hic quos quia eius. Reiciendis optio
                        minus mollitia rerum labore facilis inventore voluptatem ad, quae quia sint. Ullam.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 my-5">
            <div class="card thu-shadow h-100">
                <div class="d-flex justify-content-center" style="margin-top:-3.5em">
                    <div class="p-4 rounded-circle shadow-lg d-inline-block"
                         style="background:var(--yamabuki); color:var(--bay-o-many)">
                        <i class="fas fa-shield-alt fa-4x"></i>
                    </div>
                </div>
                <div class="card-body"><h3 class="card-title">Safe And Solid</h3>
                    <p class="card-text">
                        Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam aspernatur odio soluta,
                        quisquam dolore animi mollitia a omnis praesentium, expedita nobis!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 my-5">
            <div class="card thu-shadow h-100">
                <div class="d-flex justify-content-center" style="margin-top:-3.5em">
                    <div class="p-4 rounded-circle shadow-lg d-inline-block"
                         style="background:var(--yamabuki); color:var(--bay-o-many)">
                        <i class="fas fa-clock fa-4x"></i>
                    </div>
                </div>
                <div class="card-body"><h3 class="card-title">Extremely Fast</h3>
                    <p class="card-text">
                        Enim cupiditate, minus nulla dolor cumque iure eveniet facere ullam beatae hic voluptatibus
                        dolores exercitationem? Facilis debitis aspernatur amet nisi?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<h3 class="thu-big mx-5 mb-3 mt-5 py-1 px-1" align="center">Kami Melayani</h3>
<section class="container text-center mx-5 my-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-3 rounded-circle bg-transparent d-inline-block border border-warning border-5"
                     style="color:var(--bay-o-many)">
                    <i class="fas fa-truck fa-3x"></i>
                </div>
            </div>
            <div class="mx-3 my-3">
                <span>Pengiriman Darat</span>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-3 rounded-circle bg-transparent d-inline-block border border-warning border-5"
                     style="color:var(--bay-o-many)">
                    <i class="fas fa-ship fa-3x"></i>
                </div>
            </div>
            <div class="mx-3 my-3">
                <span>Pengiriman Laut</span>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-3 rounded-circle bg-transparent d-inline-block border border-warning border-5"
                     style="color:var(--bay-o-many)">
                    <i class="fas fa-plane fa-3x"></i>
                </div>
            </div>
            <div class="mx-3 my-3">
                <span>Pengiriman Udara</span>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-3 rounded-circle bg-transparent d-inline-block border border-warning border-5"
                     style="color:var(--bay-o-many)">
                    <i class="fas fa-earth-americas fa-3x"></i>
                </div>
            </div>
            <div class="mx-3 my-3">
                <span>Ekspor & Custom Clearance</span>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-3 rounded-circle bg-transparent d-inline-block border border-warning border-5"
                     style="color:var(--bay-o-many)">
                    <i class="fas fa-boxes-stacked fa-3x"></i>
                </div>
            </div>
            <div class="mx-3 my-3">
                <span>Solusi Pergudangan</span>
            </div>
        </div>
    </div>
</section>
<h3 class="thu-big mx-5 mb-3 mt-5 py-1 px-1" align="center">Solusi Bisnis</h3>
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://picsum.photos/id/237/320/240" style="width:300%; height:auto; border-radius:5%;"
                     class="img-fluid"/>
                <div class="m-5" style="position: absolute; color: white;">
                    <h3 class="thu-font">Sebagai Customer</h3>
                    <p class="thu-font">PT Pos Logistik has a wide range of solutions that can be tailored to your
                        business's particular needs.</p>
                    <button type="button"
                            class="btn btn-primary btn-lg bg-warning border border-warning shadow-lg thu-font">
                        Bergabung Sebagai Klien →
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://picsum.photos/id/237/320/240" style="width:300%; height:auto; border-radius:5%;"
                     class="img-fluid"/>
                <div class="m-5" style="position: absolute; color: white;">
                    <h3 class="thu-font">Sebagai Vendor</h3>
                    <p class="thu-font">As one of the largest Logistics companies in Indonesia, we open the opportunity
                        for your company to become a partner provider for us.</p>
                    <button type="button"
                            class="btn btn-primary btn-lg bg-warning border border-warning shadow-lg thu-font">
                        Bergabung Sebagai Vendor →
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
{%endblock%}