<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f78a500af5.js" crossorigin="anonymous"></script>
</head>
<body>
<div dir="ltr">
    <img data-aii="CiExOFpXZGRxa0VZM3FTaVdicUhJVEJyckxNazAxNDFqT1Y" width="200" height="97"
         src="https://ci3.googleusercontent.com/mail-sig/AIorK4xpbKK3pHy4bb7wQOTkua4hVZyRB8YSDZA7GxcSjIcN4D-slEyTNO77a0vZQZ989eBDTtvpNEU"
         data-os="https://lh3.googleusercontent.com/d/18ZWddqkEY3qSiWbqHITBrrLMk0141jOV">&nbsp;
    <br>
    <div>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Alamat:</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Jl. Cempaka Baru Tengah No. 31</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Cempaka Baru, Kemayoran</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span></p>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Jakarta Pusat 10640</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Telp. 021- 2450-6288</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>
        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Fax. 021-2450-6288</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>

        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial">
            <span style="font-size:10pt;font-family:Arial,sans-serif">Mobile/HP :0821-2578-5567</span>
            <span style="font-size:12pt;font-family:Arial,sans-serif"></span>
        </p>

        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial"><span
                style="font-size:10pt;font-family:Arial,sans-serif">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;0815-1029-0296</span><span
                style="font-size:12pt;font-family:Arial,sans-serif"></span></p>

        <p style="margin-bottom:0.0001pt;background-image:initial;background-repeat:initial"><span
                style="font-size:10pt;font-family:Arial,sans-serif">Email:</span><span
                style="font-size:10pt;font-family:Arial,sans-serif">&nbsp;</span><span
                style="font-size:10pt;font-family:Arial,sans-serif"><span style="color:#1155cc"><a
                href="mailto:trismalindo.thu@gmail.com" target="_blank">tri</a><a
                href="mailto:sno.trismalindo@gmail.com" target="_blank">sno.trismalindo@gmail.com</a></span></span><span
                style="font-size:12pt;font-family:Arial,sans-serif"></span></p></div>
</div>
</body>
</html>